App.WebServiceVucem/Service References/ListarPedimentoService/ListarPedimentosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:res="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" xmlns:tns="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/listarpedimentos" xmlns:pc="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/listarpedimentos" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ListarPedimentosService?xsd=3" namespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" />
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ListarPedimentosService?xsd=1" namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" />
  <xsd:complexType name="Peticion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="patente">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pedimento">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="eDocumentCove">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfc">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="9" />
            <xsd:maxLength value="13" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="contenedor">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="guia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaInicio" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fechaFin" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pedimento">
    <xsd:annotation>
      <xsd:documentation>
				generalesPedimento
				aduana
				generalesPedimento
				descAduana
				generalesPedimento
				patente
				generalesPedimento
				numDoctoAgente
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aduana" type="pc:Aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="petente">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="9999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroDocumentoAgente">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:maxInclusive value="9999999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPedimentosPeticion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="peticion" type="tns:Peticion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPedimentosRespuesta">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="res:RespuestaBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="pedimento" type="tns:Pedimento" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="consultarPedimentosPeticion" type="tns:ConsultarPedimentosPeticion" />
  <xsd:element name="consultarPedimentosRespuesta" type="tns:ConsultarPedimentosRespuesta" />
</xsd:schema>