App.WebServiceVucem/Service References/PedimentoService/ConsultarPedimentoCompletoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:comun="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" xmlns:tns="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/consultarpedimentocompleto" xmlns:um="http://www.ventanillaunica.gob.mx/common/ws/oxml/unidadmedida" xmlns:base="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/consultarpedimentocompleto" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPedimentoCompletoService?xsd=3" namespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" />
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPedimentoCompletoService?xsd=1" namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" />
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPedimentoCompletoService?xsd=2" namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/unidadmedida" />
  <xsd:complexType name="Domiclio">
    <xsd:annotation>
      <xsd:documentation>Peticion de la operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="calle">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroExterior">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroInterior">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ciudadMunicipio">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codigoPostal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pais">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPedimentoCompletoPeticion">
    <xsd:annotation>
      <xsd:documentation>Peticion de la operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="peticion" type="comun:PeticionPedimento">
        <xsd:annotation>
          <xsd:documentation>Datos de la peticion</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoOperacion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaveDocumento">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Destino">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MedioTransporte">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aduana">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Encabezado">
    <xsd:annotation>
      <xsd:documentation>Encabezado del pedimento</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tipoOperacion" type="tns:TipoOperacion" />
      <xsd:element name="claveDocumento" type="tns:ClaveDocumento" />
      <xsd:element name="destino" type="tns:Destino" />
      <xsd:element name="aduanaEntradaSalida" type="tns:Aduana" />
      <xsd:element name="tipoCambio" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pesoBruto" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="medioTrasnporteSalida" type="tns:MedioTransporte" />
      <xsd:element name="medioTrasnporteArribo" type="tns:MedioTransporte" />
      <xsd:element name="medioTrasnporteEntrada" type="tns:MedioTransporte" />
      <xsd:element name="curpApoderadomandatario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfcAgenteAduanalSocFactura">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="valorDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorAduanalTotal" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorComercialTotal" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rectificacion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aduanaOriginal" type="tns:Aduana" />
      <xsd:element name="aduanaDespacho" type="tns:Aduana" />
      <xsd:element name="claveDocumento" type="tns:ClaveDocumento" />
      <xsd:element name="fechaPago" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pedimentoOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="patenteOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fechaOriginal" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoFecha">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fechas">
    <xsd:sequence>
      <xsd:element name="fecha" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tipo" type="tns:TipoFecha" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImportadorExportador">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rfc">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="curp">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="razonSocial">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="domicilio" type="tns:Domiclio" />
      <xsd:element name="seguros" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fletes" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="embalajes" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="incrementables" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aaduanaDespacho" type="tns:Aduana" />
      <xsd:element name="bultos" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="fechas" type="tns:Fechas" />
      <xsd:element name="efectivo" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="otros" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="total" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pais" type="comun:Pais" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contribucion">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tasa">
    <xsd:annotation>
      <xsd:documentation>Tasas a Nivel de Pedimento y Cuadro de Liquidación
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="contribucion" type="tns:Contribucion" />
      <xsd:element name="tipoTasa" type="comun:TipoTasa" />
      <xsd:element name="tasaAplicable" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaPago" type="comun:FormaPago" />
      <xsd:element name="importe" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Moneda">
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProveedorComprador">
    <xsd:annotation>
      <xsd:documentation>Datos del Proveedor o Comprador
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identificadorFiscal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="proveedorComprador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="domicilio" type="tns:Domiclio" />
      <xsd:element name="moneda" type="tns:Moneda" />
      <xsd:element name="valorMonedaExtranjera" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pais" type="comun:Pais" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Destinatario">
    <xsd:annotation>
      <xsd:documentation>Destinatarios</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identificadorFiscal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nombre">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="domicilio" type="tns:Domiclio" />
      <xsd:element name="entidadFederativa">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pais" type="comun:Pais" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TerminoFacturacion">
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Factura">
    <xsd:annotation>
      <xsd:documentation>Factura del pedimento</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fecha" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numero">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="terminoFacturacion" type="tns:TerminoFacturacion" />
      <xsd:element name="moneda" type="tns:Moneda" />
      <xsd:element name="valorDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorMonedaExtranjera" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identificadorFiscalProveedorComprador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="proveedorComprador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Transporte">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identificador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="paisTransporte" type="comun:Pais" />
      <xsd:element name="nombre">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfcTransportista">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="curpTransportista">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="domicilioTransportista">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="candados">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="21" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Guia">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="guiaManifiesto">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoGuia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identificadores">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="identificadores" type="comun:Identificador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaveDocumentoOriginal">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Descargo">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="patenteOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pedimentoOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aduanaOriginal" type="tns:Aduana" />
      <xsd:element name="claveDocumentoOriginal" type="tns:ClaveDocumentoOriginal" />
      <xsd:element name="fechaPagoOriginal" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fraccionOriginal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="UnidadMedida" type="um:UnidadMedida">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidad" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Compensacion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="patenteOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pedimentoOriginal" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aduanaOriginal" type="tns:Aduana" />
      <xsd:element name="fechaPagoOriginal" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gravamen" type="comun:ClaveGravamen" />
      <xsd:element name="monto" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentoPago">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="formaPago" type="tns:FormaDePago" />
      <xsd:element name="institucionEmisora">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroDocumento">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaEmision" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importeTotal" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saldoDisponible" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importePedimento" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PedimentoComplementario">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clavedocumento" type="tns:ClaveDocumento" />
      <xsd:element name="tipoCambio" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="curpImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfcImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="razonSocialImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="curpApoderadoMandatario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfcAgenteAduanalSocFactura">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoContenedor">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contenedor">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identificador" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tipoContenedor" type="tns:TipoContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gravamen">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaveGravamen">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormaDePago">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartidasInformeIndustriaAutomotriz">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fraccion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8" />
            <xsd:minLength value="8" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroPartida">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3" />
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="valorComercial" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUMC" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unidadMedidaComercial" type="um:UnidadMedida" />
      <xsd:element name="cantidadUMT" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unidadMedidaTarifaria" type="um:UnidadMedida" />
      <xsd:element name="paisOrigenDestino" type="comun:Pais" />
      <xsd:element name="paisCompradorVendedor" type="comun:Pais" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DiferenciaContribucion">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="claveGravamen" type="tns:ClaveGravamen" />
      <xsd:element name="importePago" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaPago" type="comun:FormaPago">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PruebaSuficiente">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="paisDestino" type="comun:Pais" />
      <xsd:element name="numeroPedimentoEUCanada">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pruebaSuficiente">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaDocumento" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformeIndustriaAutomitriz">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aduanaDespacho" type="tns:Aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="curpApoderadoMandatario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="claveDocumento" type="tns:ClaveDocumento">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aduanaEntradaSalida" type="tns:Aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rfcImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoCambio" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleImportacionEUCanada">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="unidadMedida" type="um:UnidadMedida">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUnidadMedida" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fraccionArancelaria">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tasa" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arancel" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="moneda" type="tns:Moneda">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagoContribuciones">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gravamen" type="tns:Gravamen" />
      <xsd:element name="formaPago" type="comun:FormaPago">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importe" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeterminacionContribucionesArticulo303">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="paisDestino" type="comun:Pais" />
      <xsd:element name="fraccionArancelaria">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="secuenciaFracionArancelaria" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorMercanciaNoOriginaria" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="montoIGI" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totalArancelEUCanada" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="moneda" type="tns:Moneda">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="montoExento" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="detalleImportaciones" type="tns:DetalleImportacionEUCanada">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="pagosContribuciones" type="tns:PagoContribuciones">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="observaciones">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrevioConsolidado">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aduanaDespacho" type="tns:Aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tipoOperacion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="claveDocumento" type="tns:ClaveDocumento">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rfcImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="aduanaEntradaSalida" type="tns:Aduana">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="curpImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="curpApdoeradoMandatario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18" />
            <xsd:minLength value="18" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destino">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rfcAgenteAduanalSociedadFactura">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PedimentoCompleto">
    <xsd:annotation>
      <xsd:documentation>Respuesta de la operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="pedimento">
        <xsd:annotation>
          <xsd:documentation>Número de pedimento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="encabezado" type="tns:Encabezado">
        <xsd:annotation>
          <xsd:documentation>Datos del encabezado del pedimento solicitado
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rectificacion" type="tns:Rectificacion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importadorExportador" type="tns:ImportadorExportador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="tasas" type="tns:Tasa">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="proveedoresCompradores" type="tns:ProveedorComprador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="destinatarios" type="tns:Destinatario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="facturas" type="tns:Factura">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="transportes" type="tns:Transporte">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="guias" type="tns:Guia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="identificadores" type="tns:Identificadores">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="cuentasAduaneras" type="comun:CuentaAduanera">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="descargos" type="tns:Descargo">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="compensaciones" type="tns:Compensacion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="documentosPago" type="tns:DocumentoPago">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="observaciones">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="partidas" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="diferenciasContribuciones" type="tns:DiferenciaContribucion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="pruebasSuficientes" type="tns:PruebaSuficiente">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="informesIndustriaAutomotriz" type="tns:InformeIndustriaAutomitriz">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="determinacionesContribucionesArticulo303" type="tns:DeterminacionContribucionesArticulo303">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="previoConsolidado" type="tns:PrevioConsolidado">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pedimentoComplemetario" type="tns:PedimentoComplementario">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="contenedores" type="tns:Contenedor">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="partidasInformeIndustriaAutomotriz" type="tns:PartidasInformeIndustriaAutomotriz">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPedimentoCompletoRespuesta">
    <xsd:annotation>
      <xsd:documentation>Respuesta de la operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="base:RespuestaBase">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroOperacion" type="xsd:long" />
          <xsd:element name="pedimento" type="tns:PedimentoCompleto">
            <xsd:annotation>
              <xsd:documentation>Datos de la peticion</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="consultarPedimentoCompletoPeticion" type="tns:ConsultarPedimentoCompletoPeticion" />
  <xsd:element name="consultarPedimentoCompletoRespuesta" type="tns:ConsultarPedimentoCompletoRespuesta" />
</xsd:schema>