App.WebServiceVucem/Service References/PartidaService/ConsultarPartidaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" xmlns:um="http://www.ventanillaunica.gob.mx/common/ws/oxml/unidadmedida" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPartidaService?xsd=2" namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/unidadmedida" />
  <xsd:complexType name="DatosVehiculo">
    <xsd:sequence>
      <xsd:element name="vin">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="kilometraje">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Permiso">
    <xsd:sequence>
      <xsd:element name="clavePermiso" type="tns:ClavePermiso">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numeroPermiso">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="firmaDescargo">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="valorComercialDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUMTUMC" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaveIdentificador">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identificador">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="claveIdentificador" type="tns:ClaveIdentificador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="complemento1">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="complemento2">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="complemento3">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstitucionEmisora">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CuentaAduanera">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="institucionEmisora" type="tns:InstitucionEmisora" />
      <xsd:element name="numeroCuenta">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="folioConstancia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaConstancia" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tipoCuenta">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoGarantia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="totalGarantia" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUMC" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaveGravamen">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tasa">
    <xsd:sequence>
      <xsd:element name="clave" type="tns:TipoTasa">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tasaAplicable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoTasa">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormaPago">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Importe">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="formaPago" type="tns:FormaPago">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importe" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContribucionAmparoArt303TLC">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="valorMercanciaNoOriginaria" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="montoIGI" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gravamen">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="claveGravamen" type="tns:ClaveGravamen">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="tasas" type="tns:Tasa">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="importes" type="tns:Importe">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="contribucionAmparoArt303TLC" type="tns:ContribucionAmparoArt303TLC">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Partida">
    <xsd:sequence>
      <xsd:element name="numeroPartida" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fraccionArancelaria">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="subdivisionFraccion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcionMercancia">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="unidadMedidaTarifa" type="um:UnidadMedida">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUnidadMedidaTarifa" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unidadMedidaComercial" type="um:UnidadMedida">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cantidadUnidadMedidaComercial" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="precioUnitario" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorComercial" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorAduana" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorDolares" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valorAgregado" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codigoProducto">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="marca">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="modelo">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="metodoValoracion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vinculacion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="paisOrigenDestino" type="tns:Pais">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paisVendedorComprador" type="tns:Pais">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="datosVeiculos" type="tns:DatosVehiculo">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="permisos" type="tns:Permiso">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="identificadores" type="tns:Identificador">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="cuentasAduaneras" type="tns:CuentaAduanera">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="gravamenes" type="tns:Gravamen">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="observaciones">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pais">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Peticion">
    <xsd:annotation>
      <xsd:documentation>Peticion del servicio
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="aduana">
        <xsd:annotation>
          <xsd:documentation>Clave de la Aduana/Sección en la que se realizó
						la operación de Comercio Exterior.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="patente">
        <xsd:annotation>
          <xsd:documentation>Numero de la Patente del Agente o Apoderado
						Aduanal que efectúa la operación de Comercio Exterior.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="pedimento">
        <xsd:annotation>
          <xsd:documentation>Número de pedimento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeticionPedimento">
    <xsd:annotation>
      <xsd:documentation>Peticion del servicio
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="aduana">
        <xsd:annotation>
          <xsd:documentation>Clave de la Aduana/Sección en la que se realizó
						la operación de Comercio Exterior.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="patente">
        <xsd:annotation>
          <xsd:documentation>Numero de la Patente del Agente o Apoderado
						Aduanal que efectúa la operación de Comercio Exterior.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="pedimento">
        <xsd:annotation>
          <xsd:documentation>Número de pedimento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999999" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aduana">
    <xsd:annotation>
      <xsd:documentation>Informacion de la aduana
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClavePermiso">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clave">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>