App.WebServiceVucem/Service References/PartidaService/ConsultarPartidaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:comun="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" xmlns:tns="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/consultarpartida" xmlns:base="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/consultarpartida" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPartidaService?xsd=3" namespace="http://www.ventanillaunica.gob.mx/pedimentos/ws/oxml/comunes" />
  <xsd:import schemaLocation="https://www.ventanillaunica.gob.mx:443/ventanilla-ws-pedimentos/ConsultarPartidaService?xsd=1" namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" />
  <xsd:complexType name="PeticionPartida">
    <xsd:annotation>
      <xsd:documentation>Peticion del servicio
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="comun:PeticionPedimento">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroOperacion" type="xsd:long" />
          <xsd:element minOccurs="1" name="numeroPartida" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPartidaPeticion">
    <xsd:sequence>
      <xsd:element name="peticion" type="tns:PeticionPartida" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPartidaRespuesta">
    <xsd:complexContent mixed="false">
      <xsd:extension base="base:RespuestaBase">
        <xsd:sequence>
          <xsd:element name="partida" type="comun:Partida" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="consultarPartidaPeticion" type="tns:ConsultarPartidaPeticion" />
  <xsd:element name="consultarPartidaRespuesta" type="tns:ConsultarPartidaRespuesta" />
</xsd:schema>